<phpunit
    bootstrap="Php/bootstrap.php"
    colors="true"
    verbose="true"
    failOnWarning="true"
    failOnRisky="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">Php</directory>
        </include>
        <report>
            <clover outputFile="reports/coverage/coverage.xml"/>
        </report>
    </coverage>
</phpunit>